div
{
  border:3px solid #ddd;
  border-image: linear-gradient(#000, #ddd) 30 30;
  border-style: groove;
  width:687px;
  height: 592px;
  padding:10px 10px;
  resize: both;
  overflow: scroll;

  text-align: center;
  position: absolute;
  left: 50%;
  top:  50%;
  transform: translate(-50%, -65%);
}

form
{
  text-align: center;
  position: absolute;
  left: 50%;
  top:  82%;
  transform: translate(-50%, -50%);
}

#submit
{
  text-align: center;
  position: absolute;
  left: 50%;
  top:  90%;
  transform: translate(-50%, -50%);
}
