<html>
	  <head>
			<link rel = "stylesheet" href="/static/chatbox_style.css" type="text/css" />
			{%if name%}
			<title>{{name}}</title>
			{%else%}
			<title>TALKING</title>
			{%endif%}
	   <meta content="">
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8"></script>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
		</script>
	  </head>
  <body>
  	<div id = "messagebox">
		  <ul id = "history_message"></ul>
  	</div>
  	<form>
  		在这里输入你要发送的信息(Input Here):<textarea id = "inputbox" style="width: 680px; height: 60px;"></textarea>
	</form>
	<button id = "submit">确定</button>
  </body>
  	<script src="/static/bot.js"></script>
</html>
